body {
  background: url('../../assets/img.jpg');
  background: url(another-assets/another-img.jpg);
  background: url(another-assets/img.jpg);
  background: url(another-assets/one-more/img.jpg);
  background: url("../../assets/not-existing-image.jpg");
  background: url("http://goo.gl/VR2dL6");
  background: url(another-assets/img.jpg);
}