body {
  background: url('imported/img.jpg');
  background: url(imported/another-img.jpg);
  background: url(imported/img_1.jpg);
  background: url(imported/img_2.jpg);
  background: url("../../assets/not-existing-image.jpg");
  background: url("http://goo.gl/VR2dL6");
  background: url(imported/img_1.jpg);
}